<!-- Navigation Bar -->
<nav>
    <div class="nav-container">
        
        <!-- Logo -->
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/images/logo.png" alt="Logo" class="logo">
            </a>
        </div>

        <!-- Navbar Links -->
        <ul class="nav-links">
            <li><a href="/upload">Upload Video</a></li>
            <li><a href="/search">Search Scene</a></li>
            <li><a href="/history">Search History</a></li>
        </ul>

        <!-- User Profile Icon -->
        <div class="user-menu">

            <div class="dropdown-menu" id="userDropdown">
                <a href="/login" id="loginLink">Login</a>
                <a href="/register" id="registerLink">Register</a>
                <a href="#" id="logoutLink" style="display: none;">Logout</a>
            </div>
        </div>

    </div>
</nav>
<!-- <button id="userIcon">👤</button> -->