<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Movie Sizzling</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Updated Path -->
</head>
<body>
    <%- include("header") %>

    <header class="hero">
        <h1>Welcome to Movie Sizzling</h1>
        <p>Upload a video and search for scenes!</p>
        <a href="/upload" class="btn btn-primary">Get Started</a>
    </header>
   <!-- Featured Section -->
   <section class="featured">
    <h2>How It Works</h2>
    <p>Our system makes your movies easy for asking about specific scene based on your demand.</p>
    <div class="feature-container">
        <div class="feature">
            <img src="../images/scene1.jpg" alt="Scene 1">
            <p>Example Scene</p>
        </div>
    <%- include("footer") %>
</body>
</html>
