<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segmentation Results</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <%- include("header") %>

    <div class="container">
        <h2>Search Results</h2>
        
        <div class="video-wrapper">
            <video id="videoPlayer" controls>
                <source src="<%= videoUrl %>" type="video/mp4">
            </video>
        </div>

        <p><strong>Result for:</strong> <%= query %></p>
    </div>

    <%- include("footer") %>
</body>
</html>
